body {
    background-color: #111;
    color: #fff;
}

.card {
    background-color: #222;
    border: 1px solid #444;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.titulo-principal {
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
    font-weight: bold;
}
.card-body {
    color: #fff;
}